In [1]:
from data_tools import get_table_data,use_sql_query
import psycopg2
from sql_query import theatre_number_in_citys

In [3]:
conn = psycopg2.connect(
    host ="localhost",
    dbname ="postgres",
    user = "postgres",
    password ="is5126",
    port=5433)
cur = conn.cursor()

In [4]:
df_list = use_sql_query(cur,theatre_number_in_citys)

In [7]:
df_list.head(10)

   numberoftheatre city_name
0               76        上海
1               29        北京
2               16        深圳
3               15        南京
4               14        成都
5               12        杭州
6               10        广州
7                7        苏州
8                7        西安
9                6        武汉

In [ ]:
cur.close()
conn.close()