In [3]:
from data_tools import get_table_data,use_sql_query
import psycopg2
from sql_query import theatre_number_in_citys

In [5]:
conn = psycopg2.connect(
    host ="localhost",
    dbname ="postgres",
    user = "postgres",
    password ="is5126",
    port=5433)
cur = conn.cursor()

In [6]:
df_list = use_sql_query(cur,theatre_number_in_citys)

In [7]:
df_list

    numberoftheatre city_name
0                76        上海
1                29        北京
2                16        深圳
3                15        南京
4                14        成都
..              ...       ...
86                1       连云港
87                1        宿迁
88                1        泉州
89                1        保定
90                1        普洱

[91 rows x 2 columns]

In [ ]:
cur.close()
conn.close()