In [17]:
from data_tools import get_table_data,use_sql_query
import psycopg2
from sql_query import musical_list_by_date_range
import pandas as pd

In [22]:
conn = psycopg2.connect(
    host ="localhost",
    dbname ="postgres",
    user = "postgres",
    password ="is5126",
    port=5433)
cur = conn.cursor()

In [28]:
musicals["premiere_date"] = pd.to_datetime(musicals["premiere_date"])

In [40]:
musicals = get_table_data(cur=cur,table_names= ["musicals"] )["musicals"]

musicals["premiere_date"] = pd.to_datetime(musicals["premiere_date"])
musicals["year"] = musicals["premiere_date"].dt.year

a = pd.DataFrame(musicals.groupby("year").agg({
    'musical_id': 'count',
    'is_original': 'sum',
}))
a["imitation_musical_number"] = a["musical_id"] - a["is_original"]
a.reset_index()

    year  musical_id  is_original  imitation_musical_number
0   1997           1            1                         0
1   1999           1            1                         0
2   2002           1            1                         0
3   2005           1            1                         0
4   2006           1            0                         1
5   2007           1            1                         0
6   2009           4            4                         0
7   2011           2            1                         1
8   2012           4            3                         1
9   2013           5            3                         2
10  2014           4            3                         1
11  2015          10            8                         2
12  2016           8            5                         3
13  2017          12            7                         5
14  2018          25           14                        11
15  2019          12            7                         5
16  2020          16            9                         7
17  2021          46           33                        13
18  2022          44           31                        13
19  2023          89           68                        21
20  2024          43           37                         6

In [10]:
pd.Series(cast_list_shanghai).value_counts()

田野     22
钱安琪    21
郭虹旭    20
顾易     20
洪果     19
       ..
黄旖      1
庞雪倩     1
牟潇钰     1
温雅祺     1
柳智彦     1
Name: count, Length: 330, dtype: int64

In [31]:

cast_beijing = " ".join(last_month_shows[last_month_shows["city"] == "深圳"]["casts"].astype(str))

In [16]:
cur.close()
conn.close()

In [27]:
import streamlit as st
from wordcloud import WordCloud
import matplotlib.pyplot as plt

In [32]:

# Create some sample text
text = cast_beijing.replace(" ",",")
font_path = '/System/Library/Fonts/STHeiti Light.ttc'

# Create and generate a word cloud image:
wordcloud = WordCloud(font_path=font_path, width=800, height=400, background_color='white').generate(text)

In [33]:
plt.figure(figsize=(8, 4), facecolor=None)
plt.imshow(wordcloud)
plt.axis("off")
plt.tight_layout(pad=0)
plt.show()

/var/folders/9s/l93m55bx5w9brq6p8klv2cgr0000gn/T/ipykernel_54540/3529839856.py:5: UserWarning: FigureCanvasAgg is non-interactive, and thus cannot be shown
  plt.show()

In [34]:
wordcloud.to_file("wordcloud_beijing.png")