In [1]:
from data_tools import get_table_data,use_sql_query
import psycopg2
from sql_query import musical_list_by_date_range
import pandas as pd

In [36]:
monthly_shows = pd.read_csv("./data/shows",index_col=0)
monthly_shows["datetime"] = pd.to_datetime(monthly_shows["date"])
monthly_shows["year"] = monthly_shows["datetime"].dt.year
monthly_shows["month"] = monthly_shows["datetime"].dt.month
monthly_shows = monthly_shows[(monthly_shows["datetime"] < "2024-09-01")]


shanghai = monthly_shows[monthly_shows["city"] == "上海"]
shanghai_2023 = shanghai.groupby(["year","month"]).size().reset_index(name="total_shows")
shanghai_2023["datetime"] = pd.to_datetime(shanghai_2023["year"].astype(str) + "-" + shanghai_2023["month"].astype(str), format='%Y-%m')

In [37]:
shanghai_2023

    year  month  total_shows
0   2023      1          313
1   2023      2          411
2   2023      3          462
3   2023      4          472
4   2023      5          470
5   2023      6          444
6   2023      7          538
7   2023      8          562
8   2023      9          519
9   2023     10          566
10  2023     11          525
11  2023     12          606
12  2024      1          535
13  2024      2          290
14  2024      3          507
15  2024      4          412
16  2024      5          426
17  2024      6          462
18  2024      7          449
19  2024      8          559

In [38]:
theatre_data_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, 0 to 44
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   fields.name_y    10 non-null     object
 1   numberoftheatre  10 non-null     int64
dtypes: int64(1), object(1)
memory usage: 240.0+ bytes

In [27]:
theatre_data_df = pd.read_csv("./data/theatres",index_col=0)
musical_perform_df = pd.read_csv("./data/shows",index_col=0)
citys = pd.read_csv("./data/citys",index_col=0)
theatre_data_df = theatre_data_df.merge(citys,left_on="fields.city",right_on="pk",how="left")

In [29]:
theatre_data_df = theatre_data_df.groupby("fields.name_y").size().reset_index(name="numberoftheatre")
theatre_data_df.sort_values(by="numberoftheatre",ascending=False,inplace=True)
theatre_data_df = theatre_data_df.head(10)
musical_perform_df = musical_perform_df.groupby("city").size().reset_index(name="count")

In [30]:
musical_perform_df

   city  count
0    上海   9550
1    东方      1
2    东莞     19
3    临沂      4
4    丽水      2
..  ...    ...
85   银川      1
86   长春      1
87   长沙     92
88   阜阳      6
89   青岛     21

[90 rows x 2 columns]

In [4]:
musical_perform_df

In [22]:
conn = psycopg2.connect(
    host ="localhost",
    dbname ="postgres",
    user = "postgres",
    password ="is5126",
    port=5433)
cur = conn.cursor()

In [28]:
musicals["premiere_date"] = pd.to_datetime(musicals["premiere_date"])

In [40]:
musicals = get_table_data(cur=cur,table_names= ["musicals"] )["musicals"]

musicals["premiere_date"] = pd.to_datetime(musicals["premiere_date"])
musicals["year"] = musicals["premiere_date"].dt.year

a = pd.DataFrame(musicals.groupby("year").agg({
    'musical_id': 'count',
    'is_original': 'sum',
}))
a["imitation_musical_number"] = a["musical_id"] - a["is_original"]
a.reset_index()

    year  musical_id  is_original  imitation_musical_number
0   1997           1            1                         0
1   1999           1            1                         0
2   2002           1            1                         0
3   2005           1            1                         0
4   2006           1            0                         1
5   2007           1            1                         0
6   2009           4            4                         0
7   2011           2            1                         1
8   2012           4            3                         1
9   2013           5            3                         2
10  2014           4            3                         1
11  2015          10            8                         2
12  2016           8            5                         3
13  2017          12            7                         5
14  2018          25           14                        11
15  2019          12            7                         5
16  2020          16            9                         7
17  2021          46           33                        13
18  2022          44           31                        13
19  2023          89           68                        21
20  2024          43           37                         6

In [10]:
pd.Series(cast_list_shanghai).value_counts()

田野     22
钱安琪    21
郭虹旭    20
顾易     20
洪果     19
       ..
黄旖      1
庞雪倩     1
牟潇钰     1
温雅祺     1
柳智彦     1
Name: count, Length: 330, dtype: int64

In [31]:

cast_beijing = " ".join(last_month_shows[last_month_shows["city"] == "深圳"]["casts"].astype(str))

In [16]:
cur.close()
conn.close()

In [27]:
import streamlit as st
from wordcloud import WordCloud
import matplotlib.pyplot as plt

In [32]:

# Create some sample text
text = cast_beijing.replace(" ",",")
font_path = '/System/Library/Fonts/STHeiti Light.ttc'

# Create and generate a word cloud image:
wordcloud = WordCloud(font_path=font_path, width=800, height=400, background_color='white').generate(text)

In [33]:
plt.figure(figsize=(8, 4), facecolor=None)
plt.imshow(wordcloud)
plt.axis("off")
plt.tight_layout(pad=0)
plt.show()

/var/folders/9s/l93m55bx5w9brq6p8klv2cgr0000gn/T/ipykernel_54540/3529839856.py:5: UserWarning: FigureCanvasAgg is non-interactive, and thus cannot be shown
  plt.show()

In [34]:
wordcloud.to_file("wordcloud_beijing.png")