In [4]:
import pandas as pd
from INFO import fieids_url,columns_needed
data_dict = {}
for key in fieids_url.keys():
    data_dict[key] = pd.read_csv(f"../data/{key}", index_col=0)

In [13]:
import psycopg2

In [26]:
try:
    conn = psycopg2.connect(
        host ="localhost",
    dbname ="postgres",
    user = "postgres",
    password ="is5126",
    port=5433)
    cur = conn.cursor()
except psycopg2.Error as e:
    print(f"An error occurred: {e}")
    conn.rollback()  # Rollback in case of error

In [27]:
cur.execute(f"""
    SELECT * FROM artists
""")
results = cur.fetchall()

In [28]:
cur.description

(Column(name='artist_id', type_code=23),
 Column(name='name', type_code=1043),
 Column(name='note', type_code=1043))

In [29]:
columns_name = [desc[0] for desc in cur.description]

In [34]:
from data_tools import get_table_data

ImportError: attempted relative import with no known parent package

In [32]:
df_list =

      artist_id name note
0             1   三宝
1             2   关山
2             3  史志康
3             4   徐俊
4             5  金培达
...         ...  ...  ...
3271       3275   石特
3272       3276   潘稳
3273       3277  卓德银
3274       3278   李琳
3275       3279  孙乾龙

[3276 rows x 3 columns]

In [25]:
# Close the cursor and connection
cur.close()
conn.close()